@charset "utf-8";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
td,
input,
select,
option,
textarea {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: "微软雅黑";
    font-size: 12px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.blue_link {
    color: rgb(0, 102, 204);
}

.cur {
    z-index: 101;
    border: 1px solid #aaa;
}


/* 头部 */
.header {
    padding: 16px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-image: initial;
}

.wrap {
    width: 1200px;
    margin: 0px auto;
    height: 48px;
}

.logo {
    display: block;
    float: left;
    width: 54px;
    height: 48px;
}

.header_right {
    line-height: 18px;
    color: rgb(153, 153, 153);
    font-family: SimSun;
    font-size: 12px;
}

.help_wrap {
    background: #FFF;
    position: relative;
    z-index: 1010;
    padding: 0 6px;
    margin-left: 25px;
}

.hd_menu {
    padding-right: 18px;
    color: #333;
    background: url(../imgs/regist.png) no-repeat right -30px;
}

.help_ico {
    width: 16px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url(../imgs/regist.png) no-repeat -344px 0;
}

.help_ul {
    width: 93px;
    position: absolute;
    left: 4px;
    top: -5px;
    display: none;
    opacity: 0.5;
}

.help_ul li {
    display: block;
    width: 93px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #333;
    box-sizing: border-box;
}

.help_ul li a {
    color: #000;
}

/* 登录 */

.login_wrap {
    padding: 26px 0 0;
    background: url(../imgs/regist_topshadow.png) repeat-x;
    overflow: hidden;
}

.wrap {
    width: 980px;
    margin: 0 auto;
}

.mod_left {
    margin-top: 45px;
    width: 510px;
    height: 315px;
}

.mod_left img {
    width: 510px;
    height: 315px;
}

.mod_login {
    position: relative;
    width: 330px;
    padding: 45px 35px 0 35px;
    background-color: #fff;
}

.login_pc{
    /* display: none; */
}

.error_tips {
    position: absolute;
    top: 9px;
    left: 35px;
    width: 282px;
    height: 30px;
    overflow: hidden;
    padding: 0 10px 0 36px;
    border: 1px solid #e5debc;
    border-radius: 2px;
    background: #fff7d1 url(../imgs/login.png) no-repeat -324px -150px;
    line-height: 30px;
    color: #999;
}

.mod_login h3 {
    float: left;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}

.regist_new {
    line-height: 30px;
}

.login_form {
    position: relative;
    padding: 0 0 18px;
}

.form_item_wrap {
    width: 330px;
    margin: 0 auto;
}

.form_item {
    position: relative;
    height: 24px;
    margin-bottom: 10px;
    padding: 14px 18px;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
}

.user_ico {
    background: url(../imgs/login_new.png) no-repeat -50px 4px;
}

.form_item label {
    display: inline-block;
    width: 42px;
    vertical-align: middle;
    color: #666;
}

.gay_text {
    color: #ccc;
}

.ipt {
    width: 230px;
    height: 24px;
    padding-left: 3px;
    border: 0 none;
    line-height: 24px;
    vertical-align: middle;
    font-size: 14px;
}

.paswd_ico {
    background: url(../imgs/login_new.png) no-repeat -150px 4px;
}


.cur_right {
    position: relative;
    z-index: 100;
    height: 24px;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
    margin-bottom: 0;
    padding: 14px 33px 14px 18px;
}

.verify_ico {
    background: url(../imgs/login_new.png) no-repeat -100px 4px;
}

.verify_code .ipt {
    width: 95px;
}

.verify_code {
    height: 52px;
    margin-bottom: 10px;
    padding: 0;
    border: 0 none;
    display: none;
}

.code_right {
    display: none;
    position: absolute;
    top: 1px;
    right: 0;
    width: 30px;
    height: 50px;
    background: #FFF url(../imgs/regist.png) no-repeat 0 -27px;
}

.code_wrong {
    display: none;
    position: absolute;
    top: 2px;
    right: 0;
    width: 30px;
    height: 48px;
    background: #FFF url(../imgs/regist.png) no-repeat 0 -80px;
}

.verify_code_box {
    position: relative;
    display: block;
    float: right;
    width: 123px;
    height: 50px;
    border: 1px solid #efefef;
    vertical-align: middle;
    cursor: pointer;
}

.verify_code_box img {
    width: 123px;
    height: 50px;
}

.btn_change {
    display: block;
    width: 123px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    line-height: 50px;
    text-align: center;
    font-style: normal;
    cursor: pointer;
}

.auto_login {
    position: relative;
    margin: 10px 0;
    line-height: 24px;
    min-height: 24px;
}

.uncheck_agreement {
    float: left;
    margin-top: 6px;
}

.auto_tips {
    float: left;
    margin-left: 7px;
    color: red;
    display: none;
}

.service_agreement {
    display: none;
}

.forget_pswd {
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
}

.login_btn {
    width: 330px;
    height: 52px;
    border: 0 none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    line-height: 52px;
}

.account_list {
    float: left;
    width: 230px;
}

.account_list li {
    float: left;
    margin: 0 20px 0 0;
}

.account_list a.iconfont {
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
}

.icon-qq {
    color: #10a8ff;
}

.icon-jingdong- {
    position: relative;
    color: #c81825;
}

.icon-weixin {
    color: #0c0;
}

.icon-weibo {
    color: #dd2e37;
}

.unfold {
    float: right;
    display: block;
    line-height: 34px;
    color: #999;
}

.fold i {
    background-position: -250px 3px;
}

.unfold i {
    display: inline-block;
    width: 20px;
    height: 26px;
    margin-top: 4px;
    margin-left: 4px;
    background: url(../imgs/login_new.png) no-repeat -200px 3px;
    vertical-align: middle;
}

.more_landing {
    margin-top: 15px;
    display: none;
}

.more_landing li {
    float: left;
    width: 82px;
    margin: 0 0 10px 0;
    line-height: 16px;
}

.more_landing li a {
    color: #999;
    line-height: 16px;
}

.mod_login_wrap .more_landing li a i {
    margin-right: 4px;
}

.icon-zhifubao {
    color: #00b2ee;
}

.icon-wangyi {
    color: #c4282b;
}

.icon-baidu {
    color: #2932e1;
}

.icon-renren {
    color: #005eac;
}

.icon-dilanpinganjiansheai {
    color: #ff3204;
}

.icon-mogujie {
    color: #e84478;
}


.joint_landing_wrap {
    position: relative;
    z-index: 10;
}

.joint_landing_wrap p {
    padding: 15px 0;
    color: #666;
}

.login_code {
    display: none;
    margin-top: 46px;
}

.login_code_title {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    width:330px;
    height: 16px;
}

.login_code_title a {
    display: inline-block;
    color: #ff3c3c;
}

.login_code_pic {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 20px auto 0;
    border: 1px solid #dedede;
    z-index: 999;
}

.picture_code {
    width: 180px;
    height: 180px;
}

.login_code_handle {
    padding: 20px 0 90px;
    color: #666;
    text-align: center;
}

.login_code_handle a {
    display: inline-block;
    color: #666;
}

.login_switch {
    position: absolute;
    right: 0;
    bottom: -3px;
}

.login_switch em {
    display: inline-block;
    position: absolute;
    right: 18px;
    bottom: 19px;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 43px solid transparent;
    border-right-color: #fff;
    transform: rotate(46deg);
}

/* 底部 */
#simplefooter {
    width: 980px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 12px;
}

#simplefooter a {
    margin: 0 8px;
    color: #333;
}

#simplefooter p {
    margin-top: 10px;
    color: #333;
}